
@{
    ViewData["Title"] = "Pagina Visualizzazione Del Calendario Esami";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<EcdlBooking.Models.Exam>


<div class="bg-success p-2 text-white">
    <h1><i class="bi bi-calendar-day"></i>  Calendario Esami</h1>
</div>


<br />
<div class="container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Giorno</th>
                <th>Ora</th>
                <th>Scuola</th>
                <th>Esaminatore</th>
                <th>Esame</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var exam in Model){             
			<tr>
				<td>@exam.Data.ToLongDateString()</td>
                <td>@exam.Ora.ToShortTimeString()</td>
                <td>@exam.School.Name</td>
                <td>@exam.Esaminatore.Name @exam.Esaminatore.Surname</td>
                <td>
                        <a class="btn btn-success" role="button"
                        asp-area="User"
                        asp-controller="Studenti"
                        asp-action="PrenotaEsame"
                        asp-root-id="@exam.id">
                        Prenota
                        </a>
                </td>
            </tr>
            }       
        </tbody>
    </table>

  



</div>


