@{
    ViewData["Title"] = "Prenota Esame";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model User_Studente_PrenotaEsame


<div class="container">
    Dentro La Cartella studenti
 

            <!--   inizio dell impaginazionme -->
            <div class="bg-success p-2 text-white">
                <h1><i class="bi bi-calendar-day"></i> Prenota Esame</h1>
            </div>
            <!--   inizio dellimpaginazionme -->

        <form method="post" asp-action="PrenotaEsame_Post">


        <!-- Dati Nascosti Da passare ial action per l inserimento-->
                <input type="hidden" asp-for="@Model.DataPrenotazione" />
        <input type="hidden" asp-for="@Model.Modulo" />
        <input type="hidden" asp-for="@Model.Studente" />
        <input type="hidden" asp-for="@Model.Exam" />


     



                <!-- Esame -->
                <div class="col-sm-4">
                <label for="inputModulo" class="form-label-lg">Seleziona l esame</label>
                    <select class="form-select form-select-lg 
                    form-select-opacity-25
                    bg-opacity-50 form-select-bg-success"
                            asp-for="@Model.IdModulo" 
                            asp-items="Model.ListaModuli"></select>
        </div> 
     
            <button type="submit" class="btn btn-primary">Prenota</button>
        </form>
 
</div>